---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p><em>
		👋 This is Yihong (aka Bellows Ξ王). I write here to share how I've built the <b>data and AI department of myself, by myself and for myself</b>, and I believe you can do the same.
		Apart from this blog, there is more <a href="/about/">about me</a>.
	</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
